@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');

:root {
    --background: #24262b;
    --blue: #2c49d8;
    --orange: #ff6b2b;
    --purple: #bb77ff;
    --pink: #df058d;
}

body {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 1rem;
    background-color: var(--background);
    max-width: 80rem;
    margin-inline: auto;
}

a {
    color: #ffffff;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

header #navigation a {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}

header #navigation a img {
    width: 16px;
    height: 16px;
}

footer {
    padding: 4rem 0rem;
    display: flex;
}

footer #footer-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer #footer-left h3 {
    font-size: 1.5rem;
    font-weight: 800;
}

footer #footer-left span {
    font-weight: 800;
}
